worker_processes auto;

events {
    worker_connections 1024;
}

http {
    # Bloque para redirigir HTTP a HTTPS
    server {
        listen 80;
        server_name ${INSTANCE_DNS};  # Acepta cualquier solicitud

        location / {
            return 301 https://$host$request_uri;
        }
    }

    # Bloque para HTTPS
    server {
        listen 443 ssl;
        server_name ${INSTANCE_DNS};  # O puedes especificar tu IP o DNS

        ssl_certificate /etc/nginx/ssl/selfsigned.crt;
        ssl_certificate_key /etc/nginx/ssl/selfsigned.key;
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers HIGH:!aNULL:!MD5;

        location / {
            proxy_pass http://filenest-backend:3000;  # Asegúrate de que el backend esté en esa red
            proxy_http_version 1.1;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}